<!-- {% extends 'base.html' %} -->

{% block content %}

<div style="margin: 2em; display: flex; justify-content: center;">
  <div>
    <h1 style="margin-bottom: 1em;">Current Air Conditions</h1>
    <h4 style=" color: #FF7E00;">{{ aqi_category }}</h4>
    <p style="font-size: 65px; color: #FF7E00; margin: unset;">{{ aqi_display }}</p>
  </div>
</div>

<div style="margin: 2em; display: flex; justify-content: center;">
  <div style="padding: 2em; border: 2px solid black; width: 500px;">
    <!-- <p>color: {{ aqi_color }}</p> -->
    <h4>Pollutants Details:</h4>
    <p>{{ co }}: {{ co_concentration }} {{ co_units }}</p>
    <br>
    <p>{{ no2 }}: {{ no2_concentration }} {{ no2_units }}</p>
  
  </div>
</div>



{% endblock %}