{% extends 'base.html' %}

{% block content %}

<!-- display health recommendations -->
<div style="display: flex; flex-direction: column; margin: 2em;">
  <h1>Health Recommendations</h1>
  <p style="color: blue;">General population:</p>
  <p>{{ general_recc }}</p>
  
  <p style="color: blue;">Elderly (65+):</p>
  <p>{{ elderly_recc }}</p>

  <p style="color: blue;">Lung Diseases:</p>
  <p>{{ lung_disease_recc }}</p>

  <p style="color: blue;">Heart Diseases:</p>
  <p>{{ heart_disease_recc }}</p>

  <p style="color: blue;">Active person</p>
  <p>{{ active_recc }}</p>

  <p style="color: blue;">Pregnant women</p>
  <p>{{ pregnant_women_recc }}</p>

  <p style="color: blue;">Under 18</p>
  <p>{{ children_recc }}</p>
</div>

{% endblock %}