.app
  color: black

body
  background-color: #F4F5FC


.home
  display: flex
  align-items: center
  flex-direction: column

  // search bar styling
  .search-bar
    color: #5C5C60
    background-color: #D9CAFB
    width: 400px
    height: 44px
    border-radius: 30px
    display: flex
    flex-direction: row-reverse
    align-items: center
    margin: 5%

    input
      all: unset
      font: 16px system-ui
      height: 100%
      width: 100%
      padding: 6px 10px

    button
      all: unset
      cursor: pointer
      width: 44px
      height: 44px

    svg
      width: 24px
      height: 24px
      padding: 10px
      color: #5C5C60

    // search bar styling ends here


.semicircle-container 
  margin-top: 2%
  font-size: 20px
  