.app-header
 border: 1px solid red
 display: flex 
 justify-content: space-between
 flex-direction: row

.header-logo
  color: #654F96
  margin: 1% 5% 0 5%

.semi-circle
  width: 200px
  height: 100px
  border-radius: 50% 50% 0 0 / 100% 100% 0 0
  border: 10px solid #000
  border-bottom: 0

.forecast-container
  display: flex
  flex-directiom: row

  .forecast
    background: #E7E9FF
    width: 4rem
    height: 4rem
    border-radius: 10px
  
.question-container 
  display: flex
  width: 80%
  justify-content: space-between
  background-color: white

  h3
    color: red

  .answers-container 
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-evenly

    .answer
      margin: 0
    // .checkbox
    //   float: left
    //   width: 20px
    //   height: 20px
    //   margin: 5px
    //   border: 1px solid rgba(0, 0, 0, .2)

.recomendation-button 
  font-family: 'Inter', sans-serif
  width: 15rem
  height: 2.5rem
  border-radius: 13px
  background: #AF60FF
  color: white