.app-header
 border: 1px solid red


.header-logo
  color: red

.navigations 
  display: flex
  flex-direction: row

.home-link 
  border: 1px solid green
  padding: 2%
  margin: o 5% 1% 2%

.recomendations-link 
    border: 1px solid brown
  