{% extends 'base.html' %}

{% block content %}
<div style="margin: 1em; display: flex; justify-content: center;">
  <!-- get air quality index -->
  <div style="margin: 2em; display: flex; flex-direction: column; justify-content: center;">
    <h1 style="margin-bottom: 1em;">Air Quality Index</h1>
    <!--user inputs location -->
    <form method="POST" action="/">
      Location: <input type="text" name="location"><br><br>
      <input type="submit" value="submit">
    </form>
  </div>
</div>
{% endblock %}