<!-- get health recommendations -->
<div style="margin: 2em; display: flex; flex-direction: column;">
  <h3>Get Recommendations Based on Current Air Conditions</h3>
  <form method="POST" action="/health_recommendations">
    Latitude: <input type="float" name="lat">
    Longitude: <input type="float" name="lon">
    <br>
    
    <div class="form-floating">
      <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <label for="floatingSelect">Works with selects</label>
    </div>
    
    <br>
    <div style="margin: 1em;">
      <input type="checkbox" id="general_recc" name="general_recc" value={{general_recc}}>
      <label for="general_recc"> I dont have any respiratory diseases </label><br>
      <input type="checkbox" id="elderly_recc" name="elderly_recc" value={{elderly_recc}}>
      <label for="elderly_recc"> I am 65+ </label><br>
      <input type="checkbox" id="lung_disease_recc" name="lung_disease_recc" value={{lung_disease_recc}}>
      <label for="lung_disease_recc"> I have a lung disease</label>
      <input type="checkbox" id="heart_disease_recc" name="heart_disease_recc" value={{heart_disease_recc}}>
      <label for="heart_disease_recc"> I have a heart disease</label>
      <br>
      <input type="checkbox" id="active_recc" name="active_recc" value={{active_recc}}>
      <label for="active_recc"> I am an Active person</label>
      <br>
      <input type="checkbox" id="pregnant_women_recc" name="pregnant_women_recc" value={{pregnant_women_recc}}>
      <label for="pregnant_women_recc"> I am pregnant</label>
      <br>
      <input type="checkbox" id="children_recc" name="children_recc" value={{children_recc}}>
      <label for="children_recc">Age under 18</label>
      <br>
      <input type="submit" style="margin: 1em;">
    </div>
  </form>
</div>